* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.wrapper {
    width: 1110px;
    margin: 0 auto;
}

.logo {
    margin: 0;
    line-height: 32px;
    text-transform: uppercase; 
    font-weight: 300;
    float: left;
}

.logo a {
    text-decoration: none;
    color: #555252;
    font-family: "Roboto";
    font-size: 30px;
}

.logo::first-letter {
    color: rgb(26, 188, 156);
    font-weight: bold;
}

.menu {
    margin-top: 44px;
    margin-bottom: 110px;
}

.menu-list {
    list-style: none;
    float: right;
}

.menu-list li {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 11px;
    display: inline-block;
}

.menu-list li:not(:last-child) {
    margin-right: 30px;
}

.menu-list-items:hover {
    color: rgb(26, 188, 156);
}

.section-heading {
    font-size: 48px;
    font-family: "Roboto";
    color: rgb(81, 81, 81);
    text-transform: uppercase;
    line-height: 0.667;
    text-align: center; 
    padding: 1px;
}

.featured {
    margin-bottom: 92px;
}

.news {
    margin-bottom: 80px;
}

h2::after {
    content: "";
    display: block;
    background-color: rgb(26, 188, 156);
    width: 164px;
    height: 7px;
    margin: 0 auto;
    margin-top: 32px;
}

.list {
    list-style: none;
    margin-bottom: 106px;
}

.list-items {
    width: 255px;
    height: 322px;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}

.list-items {
    background-color: #e9f0fd;
}

.product-name-price {
    width: 255px;
    height: 40px;
    background-color: rgb(50, 50, 50);
}

.list-items:hover .product-name-price {
    background-color: #1ABC9C;
}

  
.product-name {
    float: left;
    font-family: "Roboto";
    font-size: 18px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;    
}

.product-name a {
    color: white;
}

.price {
    float: right;
    width: 54px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.44);
    font-family: "Roboto";
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.price a {
    color: white;
}

.price::before {
    content: "\0024";
    color: white;
}

.list-items a {
    text-decoration: none;
}

.list-items:nth-child(4n) {
    margin-right: 0;
}

.list-items:nth-child(n + 5) {
    margin-bottom: 0;
}

.blog-list-items {
    float: left;
    width: 350px;
}

.blog-list-items:not(:last-child) {
    margin-right: 30px;
}

.news-list {
    list-style: none;
    margin-bottom: 80px;
}

.news-heading {
    font-size: 18px;
    font-family: "Open Sans";
    color: rgb(85, 82, 82);
    line-height: 26px;
    font-weight: 600;
    padding: 1px;
}

.news-heading::after {
    content: "";
    display: block;
    background-color: rgb(78, 198, 171);
    width: 136px;
    height: 3px;
    margin-top: 14px;
    margin-bottom: 30px;
}

.news-text {
    font-size: 14px;
    font-family: "Open Sans";
    color: rgb(85, 82, 82);
    line-height: 26px;
    text-align: justify;
    margin-bottom: 36px;
}

.button {
    padding: 18px 44px;
    font-size: 16px;
    font-family: "Open Sans";
    text-align: center;
    width: 160px;
    height: 52px;
    background-color: rgb(78, 198, 171);
    border-radius: 3px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    outline: none;
}
      

  