$primary-white-color: #ffffff;
$primary-dark-color:  #333333;
$primary-accent-color: #fce38a;
$secondary-accent-color: #f38181;
$text-light-color: #999999;
$line-color: #e5e5e5;
$shadow-color: #95e1d3;
$border-color: #e7e7e7;
$placeholder-color: #cccccc;

$primary-heading-font: "Montserrat";
$secondary-heading-font: "Kaushan Script";
$primary-text-font: "Roboto";